.register-employee{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.register-employee > form{
    width: 80%;
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 4vh;
    background-color: #fdfdfd;
    border-radius: 2vh;
    -webkit-box-shadow: 8px 5px 20px 5px rgba(0,0,0,0.1); 
    box-shadow: 8px 5px 15px 5px rgba(0,0,0,0.1);
}

.register-employee > form > h1{
    margin-top: 2vh;
    font-size: 6vh;
    font-weight: 500;
}

.register-employee > form > div{ 
    width: 80%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 3vh;
}

.register-employee > form > div > div:nth-of-type(1){
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1vh;
}

.register-employee > form > div > div:nth-of-type(1) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(1) input{
    font-size: 2.7vh;
    width: 100%;
    height: 4vh;
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > div > div:nth-of-type(2){
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.register-employee > form > div > div:nth-of-type(2) > div:nth-of-type(1){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-employee > form > div > div:nth-of-type(2) > div:nth-of-type(1) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(2) > div:nth-of-type(1) input{
    font-size: 2.7vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > div > div:nth-of-type(2) > div:nth-of-type(2){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-employee > form > div > div:nth-of-type(2) > div:nth-of-type(2) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(2) > div:nth-of-type(2) select{
    font-size: 2.5vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > div > div:nth-of-type(3){
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.register-employee > form > div > div:nth-of-type(3) > div:nth-of-type(1){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-employee > form > div > div:nth-of-type(3) > div:nth-of-type(1) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(3) > div:nth-of-type(1) input{
    font-size: 2.7vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > div > div:nth-of-type(3) > div:nth-of-type(2){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-employee > form > div > div:nth-of-type(3) > div:nth-of-type(2) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(3) > div:nth-of-type(2) input{
    font-size: 2.7vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > div > div:nth-of-type(4){
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1vh;
}

.register-employee > form > div > div:nth-of-type(4) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(4) input{
    font-size: 2.7vh;
    width: 100%;
    height: 4vh;
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > div > div:nth-of-type(5){
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.register-employee > form > div > div:nth-of-type(5) > div:nth-of-type(1){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-employee > form > div > div:nth-of-type(5) > div:nth-of-type(1) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(5) > div:nth-of-type(1) input{
    font-size: 2.7vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > div > div:nth-of-type(5) > div:nth-of-type(2){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-employee > form > div > div:nth-of-type(5) > div:nth-of-type(2) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(5) > div:nth-of-type(2) input{
    font-size: 2.7vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > div > div:nth-of-type(6){
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.register-employee > form > div > div:nth-of-type(6) > div:nth-of-type(1){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-employee > form > div > div:nth-of-type(6) > div:nth-of-type(1) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(6) > div:nth-of-type(1) input{
    font-size: 2.7vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > div > div:nth-of-type(6) > div:nth-of-type(2){
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.register-employee > form > div > div:nth-of-type(6) > div:nth-of-type(2) label{
    font-size: 3.5vh;
}

.register-employee > form > div > div:nth-of-type(6) > div:nth-of-type(2) input{
    font-size: 2.7vh;
    width: 21vw;   
    height: 4vh; 
    border-radius: 0.5vh;
    box-sizing: border-box;
    border: none;
    outline: 0.3vh solid #e9e9e9;
    background: #f8f8f8;
    padding: 0.5vh 0.7vw;
    -webkit-box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1); 
    box-shadow: 4px 3px 2px 0px rgba(0,0,0,0.1);
}

.register-employee > form > button{
    width: 25%;
    height: 5vh;
    margin-top: 2vh;
    margin-bottom: 3vh;
    font-size: 1.7rem;
    color: #013d79;
    background-color: #fff;
    border: 2px solid #013d79;
    border-radius: 1vh;
    box-shadow: 5px 5px 2px 0px rgba(0,0,0,0.1);
    cursor: pointer;
}

.register-employee > form > button:hover{
    color: #fff;
    background-color: #013d79;
}
