.panel{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.panel > main {
    width: 100%;
    height: 100%;
    background-color: #F4F4F4;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
}

.hidden { display: none !important; }
